#searchContainer {
  /* background-color: white; */
  /* border: 1px solid grey; */
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

.flex {
  display: flex;
  flex-direction: row;
}

#searchIcon {
  color: #018060;
}

#movieName {
  border-radius: 0px;
}

.btnNominate {
  margin-left: 10px;
}

#hero {
  /* background-image: url("./background3.png"); */
  /* position: relative; */
  height: 250px;
  /* height: 100vh; */
  background-color: #fbf7ed;
  margin-bottom: 40px;
  border-bottom: 1px solid black;

  /* box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

#formEntries {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.square {
  color: #018060;
}
